<% form_for(current_node, :html => { :class => 'NodesForm' }) do |n| %>
  <%= n.error_messages %>
  <ul>
    <li>
      <%= n.label :title %>
      <%= n.text_field :node_title %>
    </li>
    <li>
      <%= n.label :body %>
      <%= n.text_area :node_body, :class => 'nodesWYSIWYG' %>
    </li>
    <% n.fields_for(:node_abstract) do |na| %>
    <li>
      <%= na.label :path %>
      <%= na.text_field :path %>
    </li>
    <% end %> 
    <li class="buttons">
      <%= n.submit "Submit" %>
    </li>
  </ul>
<% end %>
