<% form_for current_node do |f| %>
  <%= f.error_messages %>
  <ul>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </li>
    <li class="buttons">
      <%= hidden_field_tag :node_type, 'Page' %>
      <%= f.submit "Submit" %>
    </li>
  </ul>
<% end %>
