<% form_for(current_node, :html => { :class => 'NodesForm' }) do |n| %>
  <%= n.error_messages %>
  <ul>
    <li>
      <%= n.label :title %>
      <%= n.text_field :title %>
    </li>
    <li>
      <%= n.label :body %>
      <%= n.text_area :body, :class => 'nodesWYSIWYG' %>
    </li>
    <li>
      <%= n.label :path %>
      <%= n.text_field :path %>
    </li>
    <li class="buttons">
      <%= n.submit "Submit" %>
    </li>
  </ul>
<% end %>
