<h1>All <%= @node_type.titleize %> Content</h1>
<% unless @node_type.blank? %>
  <%= link_to 'All Content', nodes_path %> |
  <%= link_to "New #{@node_type.titleize}", self.send("new_#{@node_type.tableize.singularize}_path") %>
<% else %>
  <% Nodes.node_classes.each do |type| %>
  <%= link_to "New #{type.name.titleize}", self.send("new_#{type.name.underscore}_path") %> |
  <% end %>
<% end %>
<hr/>
<% if @nodes.size > 0 %>
<table style="width: 90%;">
  <thead>
    <th>Title</th>
    <th>URL</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <% @nodes.each do |node| %>
  <tbody>
    <tr>
      <td><%= node.node_title %></td>
      <td><%= link_to(node.node_abstract.path, "/#{node.node_abstract.path}") %></td>
      <td><%= link_to('Edit', self.send("edit_#{node.class.name.underscore}_path", node)) %></td>
      <td><%= link_to('Delete', self.send("#{node.class.name.underscore}_path", node), :method => :delete, :confirm => "Are you sure?") %></td>
    </tr>
  </tbody>
<% end %>
</table>
<% end %>
