- form_for(@node_image, :html => { :class => 'NodesForm', :multipart => true }) do |f|
  = f.error_messages
  %ul
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :file
      = f.file_field :file
    %li.Buttons
      = f.submit "Submit"
