- @title = "Node Images"

%ul.Menu.LocalMenu
  %li= link_to "New Node Image", new_node_image_path

%table.Listing
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @node_images.each do |node_image|
      %tr{ :class => cycle('odd', 'even') }
        %td= image_tag(node_image.file.url(:tiny))
        %td= h node_image.title
        %td
          %ul.Menu.RecordMenu
            %li= link_to 'Edit', edit_node_image_path(node_image)
            %li= link_to 'Destroy', node_image, :confirm => 'Are you sure?', :method => :delete
